.li {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  background-color: transparent !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  width: 100% !important;
}

.ul {
  width: 100% !important;
}

.color{
    width: 15px!important;
    height: 15px!important;
    display: block;
    border-radius: 5px 5px 5px 5px;
}