.li {
  display: flex!important;
  justify-content: space-between!important;
  background-color: transparent!important;
  font-size: 20px!important;
  font-weight: 400!important;
  width: 100%!important;
}

.ul {
  width: 100%!important;
}
